wandb
torch
torchvision
numpy
tqdm
wandb
diffusers
git+https://github.com/mlfoundations/open_clip@v2.9.1
Pillow
datasets
accelerate
einops
transformers
sentencepiece
cython
webdataset
tensorboard
accelerate
uvicorn[standard]
fastapi
pydantic
ujson
nfnets-pytorch
timm
dalle2-pytorch
